{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="/accounts/logout/">Logout</a> </p>
{% endif %}

<h3> Monthly Category Transaction Report for {{ category }} </h3>

<table cellpadding="15"><tr><td>
<table border="1" cellpadding="5">
    <tr>
        <td>Item Name</td><td>Item Price</td><td>Purchase Date</td><td>User Name</td>
    </tr>
        {% for item in category_transaction %}
    <tr>
        <td>{{item.name}}</td><td align="right">{{ item.price }}</td><td>{{ item.purchase_date }}</td><td>{{item.user}}</td>
    </tr>
{% endfor %}
</table>
</td>
<td bgcolor="lightblue" valign="top">
<table border="1" cellpadding="5">
    <th>Category Name</th><th>Total Spent</th>
    {% for item in summery %}
    <tr>
        <td><a href="/mcm/category/{{item}}/{{year}}/{{month}}">{{ item }}</a></td><td align="right">£{{ item.item__price__sum }}</td>
    </tr>
    {% endfor %}
</table>
</td></tr></table>
{% endblock %}

{% block footer %}
<hr>
am I a footer 
{% endblock %}
