{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="/accounts/logout/">Logout</a> </p>
{% endif %}
<p><strong>Purchage history of {{ user_name }}</strong></p>
<table border="1" cellpadding="5">
    <tr>
        <td>Item Name</td><td>Item Price</td><td>Purchase Date</td><td>Category</td>
    </tr>
        {% for item in item_list %}
    <tr>
        <td>{{item.name}}</td><td align="right">{{ item.price }}</td><td>{{ item.date }}</td><td>{{ item.category }}</td>    
    </tr>
{% endfor %}
    <tr>
        <td align="center"><strong>TOTAL</strong></td><td colspan="4" align="center"><strong>{{ monthly_total }}</strong></td>
    </tr>
</table>
