{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="/accounts/logout/">Logout</a> </p>
{% endif %}
<h1> Monthly Transaction Report </h1>
<table border="1" cellpadding="5">
    <tr>
        <td>Item Name</td><td>Item Price</td><td>Purchase Date</td><td>Category</td><td>User Name</td>
    </tr>
        {% for item in item_list %}
    <tr>
        <td>{{item.name}}</td><td align="right">{{ item.price }}</td><td>{{ item.purchase_date }}</td><td><a href="/mcm/category/{{item.category}}/{{year}}/{{month}}">{{ item.category }}</a></td><td align="right"><a href=/mcm/user/{{item.user}}/{{year}}/{{month}}>{{ item.user }}</a></td>
    </tr>
{% endfor %}
    <tr>
        <td align="center"><strong>TOTAL</strong></td><td colspan="4" align="center"><strong>{{ monthly_total }}</strong></td>
    </tr>
</table>
