{% load versioning %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="iFlatshare is a free open source tool intended for the flat sharers all over the world. iFlatshare will tell you exactly how much was the monthly cost and how much is the avg for each person. Then it calculates the differences for each person from the avg. The persons spent less than the avg will pay the persons spent above avg." />
<meta name="keywords" content="flatshare, flat share, sharing flat, room mate, roommate" />
<meta name="author" content="Muhammad Mostafizur Rahman"/>
<meta name="robots" content="index, follow" />
<title>iflatshare, free flat sharing tool</title>
<link rel="stylesheet" type="text/css" href="/site_media/style.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
    $(window).load(function() {
		    $("#footer").pinFooter("relative");
		});
</script>

{% block head %}

{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4595541-6']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

{% block top %}
<div id="top">
	<div id="insidetop">
        
        <h5><a href="/accounts/password/change/">Change Password</a></h5>
        <h5><a href="/flatmate/create/">Add Flatmate</a></h5>
        <h5><a href="/admin">Flat Admin</a></h5>
        <h5><a href="#">Feedback</a></h5>
        
    </div><!--insidetop-->
</div><!-- top -->
{% endblock %}

<div id="topline">	
	<div class="content">
    {% if user.is_authenticated %}
       <a><strong><p>Welcome, {{ user.username|upper }}</p></strong></a>
    {% endif %}
    </div>
</div><!-- topline -->


<div id="wrapper">

    	<div class="content">
    	{% block header %}
             <div id="header">
             
                    <h1><a href="/avg_diff"><em>i</em>FlatShare <sup><em>&#946;</em></sup></a></h1>
                    {% block menu %}
                     <div id="menu">
                
                        <ul>	
                            <li><a href="/item">Item</a></li>
                            <li><a href="/user/{{user.username}}/{% now "Y"%}/{% now "m"%}">User</a></li>
                            <li><a href="/monthly/{% now "Y"%}/{% now "m"%}">Month</a></li>
                            <li><a href="/category/{% now "Y"%}/{% now "m"%}">Category</a></li>
                            <li><a href="/avg_diff/">Final</a></li>
                            <li class="selected"><a href="/accounts/logout/">Logout</a></li>
                        </ul>
                    
                	</div><!-- menu -->
                    {% endblock %}
                
             </div><!--header-->
         {% endblock %}
             {% block content %}
             
             {% endblock %}

        </div><!--content-->
        
    </div><!--wrapper-->
 
{% block footer %} 
<div id="footer">
  <div id="footer-left">
      iFlatshare is a free open source tool<br/>
     {{ env|environment_name}} | v{{ version|version_number}} (<a href="{{ 'url'|commit_name }}" target="_BLANK">{{ 'hash'|commit_name }}</a>)<br/><br/>
    Developed by <a href="mailto:mmrs151@gmail.com">Muhammad Mostafizur Rahman</a>
  </div>
 <div id="footer-right">
  <a href="https://www.instantssl.com" title="SSL Certificate Authority" style="font-family: arial; font-size: 10px; text-decoration: none;">NO SSL</a>
  </div>
  
</div>

{% endblock %}    
<script type='text/javascript'>
$(document).ready(function(){
	$("div#topline a").click(function(){
	  $("#top").slideToggle("slow");
	  $(this).toggleClass("active");
	});		
});		
</script>    
</body>
</html>