{% extends "registration/base_registration.html" %}
{% load honeypot %}

{% block title %} Contact Us {% endblock%}


{% block section %}contact{% endblock %}

{% block content %}
 <a href="http://www.iflatshare.co.uk">iFlatshare</a> is a free open source tool intended for the flat sharers all over the world.
<br/>
<br/>
Being in a shared flat for more than 8 years I found it is extreamly problematic issue to keep up the daily cost accounting among the flatmates. People usually write into papers, does weekly pot, meal system etcetra etcetra. All those methods adds up to some responsibility to somebody of the flat to do the management. And in my case I was the person doing that.
<br/><br/>
So I needed a solution to save time that we spent everyday and every month to write and calculate the cost with all the other details. <a href="http://www.iflatshare.co.uk">iFlatshare</a> is a tool to automate the whole process.
<br/><br/>
<a href="http://www.iflatshare.co.uk">iFlatshare</a> will tell you exactly how much was the monthly cost and how much is the avg for each person. Then it calculates the differences for each person from the avg. The persons spent less than the avg will pay the persons spent above avg.
<br/>
</br/>
Soon I will take  <a href="http://www.iflatshare.co.uk">iFlatshare</a> to a new level, with the ability to pay rent online, flat cleaning schedule, utility bill management, personal cost management etc.
<br/><br/>
Your suggestion is always a privilege to <a href="mailto:mmrs151@gmail.com">me.</a>

{% endblock %}
