{% extends "base.html" %}
{% block top %}


{% endblock %}

{% block menu %}
<div id="menu">

<ul>
    <li><a href="/item/">Item</a></li>
    <li><a href="#">User</a></li>
    <li><a href="#">Month</a></li>
    <li><a href="#">Final</a></li>
    <li class="selected"><a href="/accounts/logout/">Logout</a></li>
</ul>

</div><!-- menu -->
{% endblock %}

{% block content %}
<div id="wrapper">
<form class="login-form" action="" method="post">
{% csrf_token %}
<div class="content">
    <table border="1" id="new">
        {{ form }}
        <tr>
            <td colspan="2" style="text-align:right">
                <div class="footer" style="margin-top:10px;">
                    <input type="submit" class="button" value="Save" />
                </div>
            </td>
        </tr>
    </table>
</div>
</form>
</div>
{% if '__all__' in form.errors %}
    Please contact {{ admin }} to be registered in this flat.
{% endif %}

{% endblock %}

{% block homepage %}
{% endblock %}
