{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function() 
        { 
            $("#sort_table").tablesorter({sortList:  [[1,1]]}); 
        } 
    ); 
</script>
{% endblock %}
{% block content %}
<h2>FINAL MONTHLY REPORT for {{header_date|date:"F"}}, {{year}}</h2>
<br />
<h3>Monthly Total - {{ total }} 
<br />Average - {{ avg }}</h3>
<br />
<h3>{{today}}</h3>
<div id="report">
 <div id="left-report">
  <table border="1" width="500px" id="sort_table" class="tablesorter" id="new">
  <thead> 
    <tr bgcolor="#000000">
        <th><a href="#">User</a></th>
        <th><a href="#">Monthly Spent</a></th>
        <th><a href="#">Difference</a></th>
    </tr>
  </thead>
  <tbody>  
{% for user, data in avg_diff.items %}
    <tr bgcolor="#336666" align="center">
        <td align="left"><a href=/user/{{user}}/{{year}}/{{month}}>{{ user|upper }}</a></td>
        <td>{{ data.total }}</td>
        <td>{{ data.diff }}</td>
{% endfor %}
    </tr><tr><td colspan="3"><A HREF="javascript:window.print()">Click to Print This Report</A></td></tr>
  </table>
  <p>&nbsp;</p>

 </div>
 <div id="right-report">
  <table>
     <form name='calendar' method='post' action='/avg_diff/'>
     {% csrf_token %}
     {{form}}
   <tr>
    <th colspan="2">
     <input type='submit' value='submit' class="right">
     </form>
    </th>
   </tr>
  </table>
 </div>
</div>
{% endblock %}
