{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function() 
        { 
            $("#sort_table").tablesorter(); 
        } 
    ); 
</script>
{% endblock %}
{% block content %}

<h2> Monthly Category Transaction Report for {{ category }} </h2>
<br />
<div id="report">
 <div id="left-report">
<table border="1" cellpadding="5" width="500px" id="sort_table">
    <thead>
    <tr bgcolor="#000000" align="center">
        <th><a href="#">Item Name</a></th>
        <th width="60px"><a href="#">Item Price</a></th>
        <th width="90px"><a href="#">Purchase Date</a></th>
        <th width="70px"><a href="#">User Name</a></th>
    </tr>
    </thead>
    <tbody>
        {% for item in category_transaction %}
    <tr bgcolor="#336666" align="center">
        <td align="left">{{item.name}}</td><td>{{ item.price }}</td><td>{{ item.purchase_date }}</td><td><a href="/user/{{item.user}}/{{year}}/{{month}}">{{item.user|upper}}</a></td>
    </tr>
{% endfor %}
    <tr><td colspan="3"><A HREF="javascript:window.print()">Click to Print This Report</A></td></tr>  
    </tbody>
</table>
  <p>&nbsp;</p>

</div>
<div id="right-report">
<table border="1" cellpadding="5" width="200px">
<tr bgcolor="#000000" align="center">
    <th>Category Name</th><th>Total Spent</th>
</tr>
    {% for item in summary %}
    <tr bgcolor="#336699" align="center">
        <td align="left"><a href="/category/{{item.category__name}}/{{year}}/{{month}}">{{ item.category__name }}</a></td><td>{{ item.price__sum }}</td>
    </tr>
    {% endfor %}
</table>
 </div>
</div>
<br />
{% endblock %}
