{% extends "base.html" %}


{% block content %}
<form class="login-form" action="" method="post">
{% csrf_token %}
<div class="content">
    <table border="1" id="new">
    {% if admin == user %}
        {{ form }}
        <tr>
            <td colspan="2" style="text-align:right">
                <div class="footer" style="margin-top:10px;">
                    <input type="submit" name="submit" value="Add flatmate" class="button" />
                </div>
            </td>
        </tr>
    {% else %}
        <h3>Sorry, but you are not the admin of this flat.<br />
        Please Contact {{ admin|upper }} to add new flatmate</h3>
    {% endif %}
    </table>
</div>
</form>
{% endblock %}
