{% extends "base.html" %}
{% block content %}
<form class="login-form" action="" method="post">{% csrf_token %}
    <div class="content">
    <table border="1">
        {{ form }}
        <tr>
            <td colspan="2" style="text-align: right;">
                <div class="footer" style="margin-top:10px;">
                    <input type="submit" class="button" value="Add Item" />
                </div>
            </td>
        </tr>
    </table>
    </div>
</form>
{% endblock %}
