{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function() 
        { 
            $("#sort_table").tablesorter(); 
        } 
    ); 
</script>
{% endblock %}

{% block content %}
<h2><strong>Purchase history of {{ user_name|upper }}</strong></h2>
<br />
<br />
<br />
<div id="report">
 <div id="left-report">
<table border="1" cellpadding="5" width="500px" id="sort_table">
    <thead>
    <tr bgcolor="#000000" align="center">
        <th><a href="#">Item Name</a></th>
        <th><a href="#">Item Price</a></th>
        <th><a href="#">Purchase Date</a></th>
        <th><a href="#">Category</a></th>
    </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
    <tr bgcolor="#336666" align="center">
        <td align="left">{{item.name}}</td><td>{{ item.price }}</td><td>{{ item.purchase_date }}</td><td><a href="/category/{{item.category}}/{{year}}/{{month}}">{{ item.category }}</a></td>    
    </tr>
{% endfor %}
    <tr>
    </tbody>
        <td align="center"><strong>TOTAL</strong></td><td colspan="4" align="center"><strong>{{ monthly_total }}</strong></td>
    </tr>
    <tr><td colspan="3"><A HREF="javascript:window.print()">Click to Print This Report</A></td></tr>    
</table>
  <p>&nbsp;</p>

</div>
<div id="right-report">
<table border="1" cellpadding="5" width="200px">
 <tr bgcolor='#000000' align='center'>
  <td align='center'>House Mates</td>
 </tr>
  {% for user in housemates %}
  <tr bgcolor='#336699' align='center'><td align='center'><a href="/user/{{user}}/{{year}}/{{month}}">{{ user|upper }}</a></td></tr>
  {% endfor %}
</td>
</tr>
</table>
 </div>
</div>
{% endblock %}
