{% extends "base.html" %}
{% load versioning %}

{% block head %}
<script>
    $(document).ready(function() 
        { 
            $("#sort_table").tablesorter(); 
        } 
    ); 
</script>
{% endblock %}

{% block content %}
<h2><strong>{{ user_name|upper }} on {{header_date|date:"F"}}, {{year}}</strong></h2>
<br />
<br />
<br />
<div id="report">
 <div id="left-report">
<table border="1" cellpadding="5" width="500px" id="sort_table">
    <thead>
    <tr style="background:#000;"> 
        <td><a class="white" href={% url core.views.user_transaction user year|lastyear:month month|lastmonth%}>&lt;&lt; last month</a></td>
        <td colspan="3" style="text-align:right"> <a class="white" href={% url core.views.user_transaction user year|nextyear:month month|nextmonth %}>next month &gt;&gt;</a></td>
    </tr>
    <tr bgcolor="#000000" align="center">
        <th><a href="#">Item Name</a></th>
        <th width="60px"><a href="#">Item Price</a></th>
        <th width="90px"><a href="#">Purchase Date</a></th>
        <th width="70px"><a href="#">Category</a></th>
    </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
    <tr bgcolor="#336666" align="center">
        <td align="left">{{item.name}}</td><td>{{ item.price }}</td>
        <td>{{ item.purchase_date }}</td>
        <td><a href={% url core.views.category_transaction item.category year month %}>{{ item.category }}</a></td>    
    </tr>
{% endfor %}
    <tr>
    </tbody>
        <td align="center"><strong>TOTAL</strong></td><td colspan="4" align="center"><strong>{{ monthly_total }}</strong></td>
    </tr>
    <tr><td colspan="3"><A HREF="javascript:window.print()">Click to Print This Report</A></td></tr>    
</table>
  <p>&nbsp;</p>

</div>
<div id="right-report">
<table border="1" cellpadding="5" width="200px">
 <tr bgcolor='#000000' align='center'>
  <td align='center'>House Mates</td>
 </tr>
  {% for user in housemates %}
  <tr bgcolor='#336699' align='center'>
      <td align='center'><a href={% url core.views.user_transaction user year month %}>{{ user|upper }}</a></td>
  </tr>
  {% endfor %}
</td>
</tr>
</table>
 </div>
</div>
{% endblock %}
