{% extends "base.html" %}
{% block top %}


{% endblock %}

{% block menu %}
<div id="menu">
                
<ul>	
    <li><a href="/item/">Item</a></li>
    <li><a href="#">User</a></li>
    <li><a href="#">Month</a></li>
    <li><a href="#">Final</a></li>
    <li class="selected"><a href="/accounts/logout/">Logout</a></li>
</ul>
                    
</div><!-- menu -->
{% endblock %}
 
{% block content %}
<form action="" method="post">
    <table border="1">
        {{ form }}
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>
{% endblock %}
