{% extends "registration/base_registration.html" %}
{% block content %}
<br />
<div id="content-center">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <table id="new" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2">{% if form.errors %}
                <p class="errornote">Your username and password didn't match. Please try again.</p
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Username</td>
            <td><input type="text" id="username" name="username" /></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" id="password" name="password" /></td></tr>
        <tr><td colspan="2">
        <input class="right" name="submit" type="submit" value="Log In" />
        </td></tr>
    </table>         
</form>
</div>

{% endblock %}
