{% extends "registration/base_registration.html" %}
{% block content %}
{% if form.errors %}
    <h1 class="error">! Failed</h1>
    <span class="error">Your username and password didn't match.</span>
{% endif %}

<div id="wrapper">
    <form name="login-form" class="login-form" action="" method="post">{% csrf_token %}

        <div class="content">
            <input name="username" type="text" class="input username" placeholder="Username" />
            <div class="user-icon"></div>
            <input name="password" type="password" class="input password" placeholder="Password" />
            <div class="pass-icon"></div>
        </div>

        <div class="footer">
            <input type="submit" name="submit" value="Login" class="button" />
    </form>
            <form action="/accounts/register/">
                <input type="submit" name="submit" value="Register" class="register" />
            </form>

        </div>
</div>
<div class="gradient"></div>

{% endblock %}
