{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block content %}
<div id="wrapper">
<form class="login-form" method="post" action="./?invitation_key={{ invitation_key }}">
{% csrf_token %}
<div class="content">
<table id="new">
  {{ form }}
  <tr>
    <td colspan="2" style="text-align:right">
        <div class="footer" style="margin-top:10px;">
            <input type="submit" class="button" value="{% trans 'Submit' %}" />
</form>

            <form action="/accounts/login/?next=/">
                <input type="submit" name="submit" value="Sign-in" class="register" />
            </form>
        </div>
    </td>
  </tr>
</table>
</div>
</div>
{% endblock %}
